*, *::before, *::after{
  box-sizing: border-box;
}

.buttons{
  margin: 2em;
  
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 0.5em;
  text-align: center;
  
}
